body {
  padding: 40px;
}
* {
  box-sizing: border-box;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}
html {
  font-family: "Lucida Sans", sans-serif;
}
footer {
  padding: 10px;
}
.image {
  width: 200px;
}
.image-container {
  margin: 4px;
  padding: 11px;
  background-color: rgb(174, 210, 245);
  display: table-cell;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  transition: box-shadow .3s;
}
.image-container:hover {
  box-shadow: 0 0 17px rgba(33,33,33,.4);
}
.header {
  text-align: center;
  padding-bottom: 20px;
}
.border {
  margin: 5px;
  padding: 30px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  transition: box-shadow .3s;
}
.border:hover {
  box-shadow: 0 0 17px rgba(33,33,33,.4);
}
.education {
  display: table-cell;
  background-color: lightblue;
}
.work {
  background-color: lightcoral;
}
.projects {
  background-color: lightsalmon;
}
.extra {
  background-color: mistyrose;
  display: table-cell;
}
.skills {
  background-color: lightyellow;
  display: table-cell;
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 92.4%;}
  .col-12 {width: 100%;}
}